.task-block {
    position: absolute;
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 15em;
    height: 15em;

    border: solid 2px;
    box-sizing: border-box;

    overflow: hidden;
    word-wrap: break-word;

    max-width: 100%;

}
.task-block p, .task-block h2 {
    flex: 1 1 auto;
    font-size: 1rem;
    user-select: none;
}
.task-block p {
    text-align: center;
    max-height: 10%;
}

.resizer {
    margin-left: auto;
    margin-top: auto;
}
.date {
    text-align: left !important;
    flex: 0 1 auto;
    margin-bottom: -0.01em;
}
.text-info-s {
    max-height: 80%;
    overflow: hidden;
}