{% extends 'pattern.html'%}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/task_color.css'%}">
<link rel="stylesheet" href="{% static 'css/task_block.css'%}">
{% endblock %}
{% block content %}
    <div class="p-5">
    {% for task in object_list %}
        <div
        class="draggable border-{{task.color_border}} text-{{task.color_text}} background-{{task.color_background}} task-block"
        id="draggable-{{task.id}}">
            <p>{{task.task}}</p>
            <h2>{{ task.text_info}}</h2>
            <p>{{ task.date }}</p>
            <i class="bi bi-arrow-down-up resizer"></i>
        </div>
    {% endfor %}

    </div>
    <script src="{% static 'js/task.js' %}"></script>
{% endblock %}